.ticket-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
    width: 800px;
    border-radius: 10px;
    background-color: rgb(255, 250, 244);
}

.ticket-box > p, small{
    margin-left: 10%;
    margin-right: 30%;
}

.ticket-box > hr, h1{
    margin: 10px;
    color:#013c4e;
}
.ticket-buttons{
    width: 800px;
    display: flex;
    justify-content: center;
}