.tickets{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #013c4e;
    min-height: 500px;
}

.allTickets{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    min-height: 480px;
    width: 500px;
    background-color: aliceblue;   
}

.links{
    color:antiquewhite;
    width: 500px;
    height: 480px;
}

h1{
   text-align: center;
}

.single-ticket{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    width: 480px;
    border: 0.5px solid;
}

.single-ticket:hover{
    background-color:rgb(145, 145, 145);
}
.edit-img{
    height: 20px;
}
.edit-button{
    
    height: 25px;
}
.edit-link{
    margin-left: 100px;
    max-width: 20px;
    height: 25px;
}
.create-a-ticket{
    font-weight: 600;
    font-size: 30px;
    margin-top: 50px;
    text-decoration: none;
    color: antiquewhite;
    text-align: center;
}

.create-a-ticket:hover{
    color: rgb(153, 10, 10);
}

.update-and-import{
    margin-left: 20%;
    font-size: 25px;
    margin-top: 20px;
    border: 0;
    padding: 3px;
    background-color: #013c4e;
    color: antiquewhite;
    font-weight: 600;
}
.update-and-import:hover{
    color: rgb(153, 10, 10);
    
}